# Azure Data Studio - Way Cool for Azure and On-Prem SQL
## ADS Basics
- **Not** just for Azure or the cloud
- Fork of VS Code: https://github.com/microsoft/vscode
- Open Source: https://github.com/microsoft/azuredatastudio
- Cross Platform (Windows/Linux/MacOS)
- Multi-Database (SQL Server, PostgreSQL) - On the way (mySQL, MariaDB)

## Primary Features
- Database Management / Querying / Visualizations
- Code Editing (SQL, PowerShell, Python & more)
- Snippets (Predefined and User Customizable)
- Juypter Notebooks (Markdown Text, Code, Query Results)
- Integrated Terminal
- Source Control (Git, TFS)
- Big Data Clusters
- Extensions Marketplace

## Demo - Connections
Using 'Activity Bar', and 'Side Bar'

>Step 1 - Create a New Connection

>Step 2 - Place in Group

## Demo - Built-in Snippets
### Get space used by table: F_COLLISIONS
>Search: sqlspace

In [1]:
-- Get the space used by table TableName
SELECT TABL.name AS table_name,
INDX.name AS index_name,
SUM(PART.rows) AS rows_count,
SUM(ALOC.total_pages) AS total_pages,
SUM(ALOC.used_pages) AS used_pages,
SUM(ALOC.data_pages) AS data_pages,
(SUM(ALOC.total_pages)*8/1024) AS total_space_MB,
(SUM(ALOC.used_pages)*8/1024) AS used_space_MB,
(SUM(ALOC.data_pages)*8/1024) AS data_space_MB
FROM sys.tables AS TABL
INNER JOIN sys.indexes AS INDX
ON TABL.object_id = INDX.object_id
INNER JOIN sys.partitions AS PART
ON INDX.object_id = PART.object_id
AND INDX.index_id = PART.index_id
INNER JOIN sys.allocation_units AS ALOC
ON PART.partition_id = ALOC.container_id
WHERE TABL.name = 'F_COLLISIONS'
AND INDX.object_id > 255
AND INDX.index_id <= 1
GROUP BY TABL.name, 
INDX.object_id,
INDX.index_id,
INDX.name
ORDER BY Object_Name(INDX.object_id),
(SUM(ALOC.total_pages)*8/1024) DESC;

table_name,index_name,rows_count,total_pages,used_pages,data_pages,total_space_MB,used_space_MB,data_space_MB
F_COLLISIONS,NULL,1660957,12401,12397,12396,96,96,96

## Demo - Create user Snippets
### Get space used by table: F_COLLISIONS

>Step 1 - Create Custom SQL Snippet (List Tables)

```sql
select * from INFORMATION_SCHEMA.TABLES where TABLE_NAME LIKE '%$1%'
```

>Step 2 - Place in SQL User Snippets Json file

>Step 3 - Find in SQL editor (or notebook code block)

In [ ]:
list

## Demo - Create a Visualization
### Get space used by table: F_COLLISIONS
>Step 1 - Run Query in 'SQL Query' Window

>Step 2 - Use 'Sand Dance' Visualization *Extension*

In [4]:
SELECT year(c.[DATE_KEY]) AS [Year]
     , l.[BOROUGH]
     , sum(c.[NUMBER_OF_PERSONS_INJURED]) AS [Total Injuries]
  FROM [edw].[F_COLLISIONS] c
  JOIN [edw].[D_LOCATION] l
    on l.[LOCATION_ID] = c.[LOCATION_ID]
 WHERE l.[BOROUGH] IS NOT NULL
 GROUP BY year([DATE_KEY]), l.[BOROUGH]

Year,BOROUGH,Total Injuries
2016,MANHATTAN,6604
2019,STATEN ISLAND,1693
2020,BROOKLYN,2204
2018,QUEENS,13188
2014,STATEN ISLAND,1577
2015,BROOKLYN,13749
2013,QUEENS,10910
2012,STATEN ISLAND,1245
2017,BRONX,7068
2013,BROOKLYN,15431
2012,BRONX,2981
2020,QUEENS,1925
2017,BROOKLYN,15217
2019,MANHATTAN,7156
2016,QUEENS,11940
2017,STATEN ISLAND,1853
2012,BROOKLYN,7527
2019,BRONX,7417
2012,MANHATTAN,3876
2014,QUEENS,10306
2014,BRONX,5997
2019,BROOKLYN,16038
2015,STATEN ISLAND,1560
2014,MANHATTAN,6951
2016,BRONX,6261
2012,QUEENS,5630
2019,QUEENS,13187
2015,MANHATTAN,6577
2020,STATEN ISLAND,254
2018,STATEN ISLAND,1683
2017,MANHATTAN,7341
2013,STATEN ISLAND,2111
2014,BROOKLYN,14267
2018,BRONX,7344
2013,MANHATTAN,7630
2013,BRONX,6421
2015,QUEENS,10737
2018,BROOKLYN,16759
2018,MANHATTAN,7247
2020,BRONX,1099
2020,MANHATTAN,917
2016,BROOKLYN,13950
2015,BRONX,5818
2016,STATEN ISLAND,1629
2017,QUEENS,12395

## Integrated Terminal Window
### Interface for Command Prompt, PowerShell, and other CLI Tools
>Step 1 - Run in 'Powershell' Terminal
```PowerShell
PowerShell
Invoke-Sqlcmd -Query "select * from INFORMATION_SCHEMA.TABLES" -ServerInstance "localhost" -Database "eltsnap_v2"
```
>Step 2 - Run the same query with Export to HTML
```PowerShell
Invoke-Sqlcmd -Query "select * from INFORMATION_SCHEMA.TABLES" -ServerInstance "localhost" -Database "eltsnap_v2" | convertto-html > table_list.htm
Invoke-Item $$
```

## Demo - PowerShell Notebook